<div class="content" role="main">
  <a href="/"><h1>Directive Composition</h1></a>
</div>

<div>
  <ul>
    <li><a routerLink="/button" routerLinkActive="active">Button</a></li>
    <li><a routerLink="/composition" routerLinkActive="active">Directive Composition</a></li>
    <li><a routerLink="/rename-composition" routerLinkActive="active">Rename Inputs and Outputs in Directive Composition</a></li>
    <li><a routerLink="/wrapper-composition" routerLinkActive="active">Wrapper Directive Composition</a></li>
    <li><a routerLink="/pick-directives" routerLinkActive="active">Pick Directives</a></li>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
